# Report Service Environment Variables (Lambda)
AWS_REGION=ap-south-1
S3_REPORTS_BUCKET=mlm-reports-dev-ACCOUNT_ID
PRESIGNED_URL_EXPIRY=900
GROUP_SERVICE_URL=http://group-service:8000
PAYMENT_SERVICE_URL=http://payment-service:8000
AUCTION_SERVICE_URL=http://auction-service:8000
