# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Environment files (secrets)
.env

# Docker
*.log

# Flutter
flutter-app/.dart_tool/
flutter-app/.packages
flutter-app/build/
flutter-app/.flutter-plugins
flutter-app/.flutter-plugins-dependencies
flutter-app/android/
flutter-app/ios/
flutter-app/web/
flutter-app/.metadata

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Lambda packages
report-service/package/
report-service/*.zip
notification-service/*.zip
